@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");
@import "reset.css";
@import "variables.css";
body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

.welcome-header {
  font-size: 30px;
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  color: white;
}
.welcome-header__title {
  margin-bottom: 25px;
  font-size: 50px;
  color: var(--red);
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0px;
  font-size: 18px;
  margin-bottom: 25px;
  transition: border-color 0.3s ease-in-out;
}

/* not working */
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--red);
}

#login-form input[type="submit"] {
  background-color: var(--red);
  cursor: pointer;
  border: var(--red);
  padding: 20px 0px;
  border-radius: 5px;
}
